In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("D:\\DataQuality\\2010to2017ns.csv")

In [3]:
data.replace("empty",np.nan,inplace=True)

In [4]:
data.replace("Not found",np.nan,inplace=True)

In [5]:
#get time of the data point
import re
pattern = re.compile(r'(?<=T)\d+\.?\d*')
def GetTime(x):
    m=re.search(pattern,x)
    if m:
        return  int(m.group(0))
    else:
        return "Not found"
data["time"]=data.apply(lambda x:GetTime(x["time"]) ,axis = 1)

In [6]:
#datanew=data.drop(['time'], axis=1)
data

,time,Longitude,Latitude,botDepth,date,depth,temperature,salinity,qualityflag
0,15,9.65706,53.57080,12.0,20100121,3.0,0.0005,NaN,0
1,15,9.65226,53.57170,11.0,20100121,3.0,0.0026,NaN,0
2,15,9.64802,53.57256,13.0,20100121,3.0,0.0015,NaN,0
3,15,9.64354,53.57392,12.0,20100121,3.0,0.0018,NaN,0
4,15,9.63918,53.57548,13.0,20100121,3.0,0.0010,NaN,0
...,...,...,...,...,...,...,...,...,...
220607,7,355.97763,49.09174,0.0,20150111,3.5,14.0350,35.358181,0
220608,7,355.97485,49.09552,0.0,20150111,3.5,14.0310,35.358089,0
220609,7,355.97018,49.10169,0.0,20150111,3.5,14.0280,35.356300,0
220610,7,355.96609,49.10715,0.0,20150111,3.5,14.0340,35.356022,0
220611,7,355.96069,49.11419,0.0,20150111,3.5,14.0580,35.354542,0

In [7]:
#use mice to impute
from fancyimpute import KNN, NuclearNormMinimization, SoftImpute, BiScaler, IterativeImputer
mice_imputer = IterativeImputer()
# imputing the missing value with mice imputer
df = mice_imputer.fit_transform(data)

In [8]:
df1 = pd.DataFrame(df,columns=['time','Longitude', 'Latitude','botDepth','date','depth','temperature','salinity','qualityflag'])
df1
df1.to_csv("D:\\DataQuality\\2010to2017nsWithoutNA.csv",index=False)